.App {
  text-align: center;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2081c3;
    height: 70px;
    box-shadow: 0px 6px 6px #bfbfbf;
    margin-bottom: 70px;
}

.header img{
  margin-left: 30px;
  border-radius: 5px;
}

.singleBeer-container{
  display:flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.singleBeer-info{
  margin-left: 30px;
  width:250px;
  
}

.link-container{
  box-shadow: 0px 3px 3px #bfbfbf;
  padding: 10px;
}

.singleBeer-info p{
  color:darkgray;
  font-size: 1.25rem;
}

.singleBeer-link{
  text-decoration: none;
  color: black;
}

.searchBar{
  margin-bottom:50px;
}

/* HOME */

.home-container h2{
  margin-top:50px;
  margin-bottom:100px;
  font-size: 3rem;
}

.home-link{
  margin: 40px;
}

.home-link img{
  border-radius:5px;
}

/* SINGLE BEER */

.beer-container{
  margin: 50px;
}

.beer-info{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.beer-namtag{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.beer-namtag p{
  color: grey;
}

.beer-levbrew{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.beer-levbrew p{
  color: grey;
  font-weight: bold;
  font-size: 1.25rem;
}

.beer-levbrew span{
  font-size: 0.75rem;
  font-weight: bold;
}

.beer-contributed{
  color:grey;
}

/* FORM */

.form-input{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-input input{
  max-width: 400px;
  display: flex;
  align-self: center;
  border-radius: 50px;
  border-color: #bfbfbf;
}

.form-input-description{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-input-description textarea{
  max-width: 400px;
  height: 100px;
  display: flex;
  align-self: center;
  border-radius: 10px;
  border-color: #bfbfbf;
}

form button{
  border-radius: 50px;
  background-color:  #2081c3;
  color:white;
}